<style type="text/css">

	.body {
		padding:0px;
		margin:0px;
	}

	#formProduto, #formFornecedor {
		margin-left:50px;
		margin-right:50px;
		margin-top:30px;
	}

        .menu{
            float: left;
            width: 100%;
            background-color:#EDEDED;
            list-style:none;
            font:80% Tahoma;
	}
	
	.menu-ul-li { display: inline; }
	
	.menu-ul-li-a {
		background-color:#EDEDED;
		color: #333;
		text-decoration: none;
		border-bottom:3px solid #EDEDED;
		padding: 2px 10px;
		float:left;
	}
	
	.menu-ul-li-a:hover {
		background-color:#D6D6D6;
		color: #6D6D6D;
		border-bottom:3px solid #EA0000;
	}
       
        .form{
            margin: 0px;
        }
</style>